<h1>Make your form here</h1>
<form class="" action="/pirates" method="post">
  <p>Pirate Name: <input type="text" name="pirate[name]" value=""></p>
  <p>Pirate Weight: <input type="text" name="pirate[weight]" value=""></p>
  <p>Pirate Height: <input type="text" name="pirate[height]" value=""></p>
  <p>Ship's Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]" value=""></p>
  <p>Ship's Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]" value=""></p>
  <p>Ship's Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" value=""></p>
  <p>Ship's Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]" value=""></p>
  <p>Ship's Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]" value=""></p>
  <p>Ship's Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" value=""></p>
  <input id ="submit" type="submit" title="submit" value="Submit" name="submit">
</form>
